@model TelevisionStore.Models.ItemList

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ItemList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SaleId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaleId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelevisionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelevisionId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ItemListId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
